// main colors
$main-pink: #ffecf7;
$main-blue: #486480;
$main-brown: #45271d;
$donut-pink: #fe2d93;

// pink harmonies
$pink-harmony-1: #fd9ed1;
$pink-harmony-2: #fdb1da;
$pink-harmony-3: #fec5e3;
$pink-harmony-4: #fed8ed;

// blue harmonies
$blue-harmony-1: #263544;
$blue-harmony-2: #435d78;
$blue-harmony-3: #56789a;
$blue-harmony-4: #97aec5;

// sizes
// extra small
$xs-max-width: 599.95px;
$xs-min-width: 0px;
// small
$sm-max-width: 959.95px;
$sm-min-width: 600px;
// medium
$md-max-width: 1279.95px;
$md-min-width: 960px;
// large
$lg-max-width: 1919.95px;
$lg-min-width: 1280px;
// extra large
$xl-max-width: 0px;
$xl-min-width: 1920px;

@font-face {
    font-family: "Baloo Da 2";
    src: url("./fonts/BalooDa2-ExtraBold.ttf");
}

@font-face {
    font-family: "Baloo Da 2 medium";
    src: url("./fonts/BalooDa2-Medium.ttf");
}

body {
    margin: 0;
    background-color: $main-blue;

    * {
        font-family: "Baloo Da 2", sans-serif !important;
    }
}

// general use classes
.text-center {
    text-align: center;
}

// material-ui overload
#material-ui-overload {
    .MuiTypography-h1 {
        font-size: 38px;
        font-weight: bolder;
    }

    .MuiTypography-subtitle1 {
        font-size: 24px;
    }

    .MuiTypography-subtitle2 {
        font-size: 16px;
    }
}

// animations
@keyframes light-speed-out {
    0% {
        opacity: 1;
    }

    100% {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes light-speed-in {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }

    to {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounce-in-right {

    0%,
    60%,
    75%,
    90%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes bounce-in-left {

    0%,
    60%,
    75%,
    90%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-in-shaking {

    10%,
    100% {
        opacity: 1;
    }

    0% {
        transform: matrix3d(0.2, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    }

    4% {
        transform: matrix3d(0.546, 0, 0, 0, 0, 0.546, 0, 0, 0, 0, 1, 0, 0, -15.495, 0, 1);
    }

    7% {
        transform: matrix3d(0.911, 0, 0, 0, 0, 0.911, 0, 0, 0, 0, 1, 0, 0, -5.069, 0, 1);
    }

    11% {
        transform: matrix3d(1.152, 0, 0, 0, 0, 1.152, 0, 0, 0, 0, 1, 0, 0, 10.906, 0, 1);
    }

    15% {
        transform: matrix3d(1.221, 0, 0, 0, 0, 1.221, 0, 0, 0, 0, 1, 0, 0, 16.834, 0, 1);
    }

    20% {
        transform: matrix3d(1.157, 0, 0, 0, 0, 1.157, 0, 0, 0, 0, 1, 0, 0, 11.349, 0, 1);
    }

    25% {
        transform: matrix3d(1.047, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 3.109, 0, 1);
    }

    29% {
        transform: matrix3d(0.968, 0, 0, 0, 0, 0.968, 0, 0, 0, 0, 1, 0, 0, -1.95, 0, 1);
    }

    34% {
        transform: matrix3d(0.945, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, -3.271, 0, 1);
    }

    43% {
        transform: matrix3d(0.988, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, -0.724, 0, 1);
    }

    52% {
        transform: matrix3d(1.014, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0.882, 0, 1);
    }

    70% {
        transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, -0.218, 0, 1);
    }

    88% {
        transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}