// main colors
$color-primary: #ffecf7;
$color-secondary: #486480;
$color-text: #45271d;
$color-attention: #fe2d93;

// primary harmonies
$color-primary-harmony-1: #fd9ed1;
$color-primary-harmony-2: #fdb1da;
$color-primary-harmony-3: #fec5e3;
$color-primary-harmony-4: #fed8ed;

// secondary harmonies
$color-secondary-harmony-1: #263544;
$color-secondary-harmony-2: #435d78;
$color-secondary-harmony-3: #56789a;
$color-secondary-harmony-4: #97aec5;