@font-face {
    font-family: "Baloo Da 2";
    src: url("../fonts/BalooDa2-ExtraBold.ttf");
}

@font-face {
    font-family: "Baloo Da 2 medium";
    src: url("../fonts/BalooDa2-Medium.ttf");
}

#styles-overload {
    *:not(.bold):not(.pi):not([class*="pi-"]) {
        font-family: "Baloo Da 2 medium", sans-serif;
    }
}