// extra small
$xs-max-width: 599.95px;
$xs-min-width: 0px;
// small
$sm-max-width: 959.95px;
$sm-min-width: 600px;
// medium
$md-max-width: 1279.95px;
$md-min-width: 960px;
// large
$lg-max-width: 1919.95px;
$lg-min-width: 1280px;
// extra large
$xl-max-width: 0px;
$xl-min-width: 1920px;