@import '../common/styles/sizes.scss';
@import '../common/styles/colors.scss';

#styles-overload .new-order {
    display: flex;
    justify-content: center;

    .card-step {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media (max-width: $xs-max-width) {
            .back-button {
                height: 35px;
                width: 35px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .box-choice {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;

        .box-option {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .donut-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
        padding: 0;
        margin: 0;
        row-gap: 80px;

        @media (max-width: $xs-max-width) {
            grid-template-columns: 1fr;
        }

    }
}