@import '../common/styles/colors.scss';
@import '../common/styles/sizes.scss';

@keyframes donut-waves {
    from {
        transform: skewX(0deg);
    }

    15% {
        transform: skewX(-35deg) skewY(-15deg);
    }

    20% {
        transform: skewX(10deg);
    }

    25% {
        transform: skewX(-20deg);
    }

    30% {
        transform: skewX(5deg);
    }

    35% {
        transform: skewX(-10deg);
    }

    40% {
        transform: skewX(0deg);
    }

    70% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.2);
    }
}

.page-header {
    background-color: $color-primary;
    height: 130px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    color: $color-text;

    svg {
        height: 50px;
        width: 50px;
        margin: 10px 0 5px 0;
        justify-self: center;
        animation: 3s ease-in-out infinite donut-waves;
        animation-delay: 1s;
    }

    h1 {
        margin: 0;
        line-height: 30px;
    }

    h2 {
        font-size: 18px;
        margin: 0;
        line-height: 20px;
        z-index: 2;
    }

    .arrow {
        position: absolute;
        top: 115px;
        left: calc(50% - 15px);
        background-color: transparent;
        border-right: 20px solid $color-primary;
        border-bottom: 20px solid $color-primary;
        height: 5px;
        width: 5px;
        transform: rotate(45deg);
        box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    @media (max-width: $xs-max-width) {
        grid-template-rows: 60px 1fr 1fr;

        svg {
            margin-top: 20px;
            width: 40px;
            height: 40px;
        }

        h1 {
            font-size: 24px;
            align-self: flex-end;
        }

        h2 {
            font-size: 14px;
        }
    }
}