@import '../index.scss';

@keyframes donut-waves {
    from {
        transform: skewX(0deg);
    }

    15% {
        transform: skewX(-35deg) skewY(-15deg);
    }

    20% {
        transform: skewX(10deg);
    }

    25% {
        transform: skewX(-20deg);
    }

    30% {
        transform: skewX(5deg);
    }

    35% {
        transform: skewX(-10deg);
    }

    40% {
        transform: skewX(0deg);
    }

    70% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.2);
    }
}

#page-header {
    background-color: $main-pink;
    height: 130px;
    display: flex;

    * {
        justify-content: center;
        text-align: center;
        color: $main-brown;
    }

    .MuiBox-root {
        height: 100%;
    }

    img {
        position: relative;
        top: 5px;
        height: 45px;
        width: 45px;
        margin: 10px 0 5px 0;
        animation: 3s ease-in-out infinite donut-waves;
        animation-delay: 1s;
    }

    .MuiTypography-h1 {
        line-height: 32px;
    }

    .MuiTypography-body1 {
        font-family: "Baloo Da 2 medium" !important;
        position: relative;
        z-index: 2;
    }

    .arrow {
        position: absolute;
        top: 115px;
        left: calc(50% - 15px);
        background-color: transparent;
        border-right: 20px solid $main-pink;
        border-bottom: 20px solid $main-pink;
        height: 5px;
        width: 5px;
        transform: rotate(45deg);
        box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}