@import '../index.scss';

$mobile-width-xs: 420px;

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 83px);
    margin: 15% auto;
    background-color: #f3f3f3;
    height: 160px;
    width: 160px;
    box-shadow: 11px 11px 2px 2px #263544ad;
    border-radius: 50%;
    border: 3px dashed $main-blue;
    border-bottom-color: #314458;
    border-right-color: #314458;
    animation: plate-zoom-in 0.5s linear 0s;
    transition: transform 0.5s linear, opacity 0.2s ease-out;

    @media (max-width: $mobile-width-xs) {
        height: 80px;
        width: 80px;
        left: calc(50% - 43px);
        border-width: 1px;
        box-shadow: 6px 6px 2px 2px #263544ad;
    }

    span {
        position: absolute;
        height: 100px;
        width: 100px;
        filter: blur(3px);
        border-radius: 50%;
        border-bottom: 3px solid #d1d1d1;
        border-right: 2px solid #b1b1b1;
        background-color: #eaeaea;

        @media (max-width: $mobile-width-xs) {
            height: 50px;
            width: 50px;
            filter: blur(2px);
        }
    }

    .donut-loading {
        display: flex;
        height: 90px;
        width: 90px;
        opacity: 0.8;
        filter: opacity(0);
        background-image: url("../images/donut-before-bites.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        animation: donut-fall-in 0.8s ease-in 0.6s, donut-loading-bites 1s linear infinite 1.4s;

        @media (max-width: $mobile-width-xs) {
            height: 40px;
            width: 40px;
        }
    }

    &.plate-move {
        transform: scale(0.4) translate(0px, -400px);

        @media (max-width: 400px) {
            transform: scale(0.1) translate(0px, -100px);
        }

        opacity: 0;
    }
}

@keyframes plate-zoom-in {
    from {
        transform: scale(0.01);
    }

    40% {
        transform: scale(0.6) skewY(10deg);
    }

    60% {
        transform: scale(1.1) rotate(100deg);
    }

    80% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes donut-fall-in {
    from {
        filter: opacity(1) brightness(0.2) blur(2px);
        transform: scale(18) rotate(-140deg);
    }

    10% {
        transform: scale(10) rotate(-140deg);
    }

    60% {
        transform: scale(1) skewY(-35deg) rotate(-60deg);
    }

    70% {
        filter: brightness(1);
        transform: scale(1.5) rotate(-70deg);
    }

    85% {
        transform: scale(1) skewY(-5deg) rotate(-50deg);
    }

    90% {
        transform: scale(1.3) rotate(-30deg);
    }

    to {
        filter: opacity(1);
        transform: scale(1.1);
    }
}

@keyframes donut-loading-bites {
    from {
        filter: opacity(1);
        background-image: url("../images/donut-bites.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        transform: rotate(0deg);
    }

    to {
        filter: opacity(1);
        background-image: url("../images/donut-bites.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        transform: rotate(360deg);
    }
}