@import '../index.scss';

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 83px);
    margin: 15% auto;
    background-color: #f3f3f3;
    height: 160px;
    width: 160px;
    box-shadow: 11px 11px 4px 2px #263544ad;
    border-radius: 50%;
    border: 3px dashed $main-blue;
    border-bottom-color: #314458;
    border-right-color: #314458;
    animation: plate-zoom-in 0.5s linear 0s, plate-zoom-out 0.3s linear 2.1s forwards;
    z-index: 100;

    @keyframes vanish {

        from,
        to {
            opacity: 0;
        }
    }

    @keyframes plate-zoom-in {
        from {
            transform: scale(0.01);
        }

        40% {
            transform: scale(0.6) skewY(25deg);
        }

        60% {
            transform: scale(1.1) rotate(120deg);
        }

        80% {
            transform: scale(0.9);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes plate-zoom-out {

        0%,
        80% {
            background-color: $pink-harmony-1;
            border-color: $donut-pink;
        }

        from {
            opacity: 1;
            margin-top: 15%;
            transform: scaleX(1) scaleY(1);
        }

        20% {
            transform: scaleX(0.6) scaleY(0.3);
        }

        70% {
            transform: scaleX(0.2) scaleY(0.3);
        }

        90% {
            transform: scaleX(0.8) scaleY(0.1);
        }

        to {
            background-color: $pink-harmony-1;
            border-color: $donut-pink;
            margin-top: -30px;
            opacity: 0;
            transform: scaleX(0.9) scaleY(0.1);
        }
    }

    @media (max-width: $xs-max-width) {
        height: 90px;
        width: 90px;
        left: calc(50% - 43px);
        top: calc(50%);
        border-width: 1px;
        box-shadow: 6px 6px 4px 2px #263544ad;

        @keyframes plate-zoom-out {

            0%,
            80% {
                background-color: $pink-harmony-1;
                border-color: $donut-pink;
            }

            from {
                opacity: 1;
                transform: scaleX(1) scaleY(1);
                filter: blur(0px);
            }

            20% {
                transform: scaleX(0.6) scaleY(0.3);
                filter: blur(3px);
            }

            70% {
                transform: scaleX(0.2) scaleY(0.3);
                filter: blur(5px);
            }

            90% {
                transform: scaleX(0.8) scaleY(0.1);
                filter: blur(2px);
            }

            to {
                background-color: $pink-harmony-1;
                border-color: $donut-pink;
                margin-top: -65%;
                opacity: 0;
                transform: scaleX(0.9) scaleY(0.1);
                filter: blur(1px);
            }
        }
    }

    .donut-loader {
        display: flex;
        height: 90px;
        width: 90px;
        filter: opacity(0);
        border-radius: 50%;
        background-image: url("../images/donut-before-bites.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        animation:
            donut-falling 0.8s ease-in 0.4s,
            donut-loading-bites 0.8s linear 1.2s,
            vanish 0.25s linear 2.2s forwards;
        z-index: 102;

        @media (max-width: $xs-max-width) {
            height: 40px;
            width: 40px;
        }

        @keyframes donut-falling {
            from {
                transform: rotate(-360deg) scale(25);
                filter: brightness(0.2) blur(3px);
            }

            30% {
                filter: brightness(0.3) blur(1px);
            }

            to {
                transform: rotate(0deg) scale(1);
                filter: brightness(1) blur(0px);
            }
        }

        @keyframes donut-loading-bites {
            from {
                filter: opacity(1);
                background-image: url("../images/donut-bites.gif");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: rotate(0deg);
            }

            to {
                filter: opacity(1);
                background-image: url("../images/donut-bites.gif");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: rotate(360deg);
            }
        }
    }

    .donut-shadow {
        display: flex;
        position: absolute;
        height: 95px;
        width: 95px;
        opacity: 0;
        background-image: url("../images/donut-before-bites.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        animation:
            donut-shadowing 0.85s ease-in 0.3s,
            vanish 0.25s linear 2s forwards;
        z-index: 101;

        @media (max-width: $xs-max-width) {
            height: 40px;
            width: 40px;

            @keyframes donut-shadowing {
                from {
                    transform: scale(8) translateX(15px) translateY(15px);
                    filter: opacity(0) brightness(0.2) blur(3px) grayscale(1);
                }

                to {
                    transform: scale(1) translateX(5px) translateY(5px);
                    filter: opacity(0.65) brightness(0) blur(1px) grayscale(1);
                }
            }
        }

        @keyframes donut-shadowing {
            from {
                transform: scale(8) translateX(40px) translateY(40px);
                filter: brightness(0) blur(8px) grayscale(1);
                opacity: 0;
            }

            to {
                transform: scale(1.5) translateX(0px) translateY(0px);
                filter: brightness(0.2) blur(2px) grayscale(1);
                opacity: 0.7;
            }
        }
    }

    span {
        position: absolute;
        height: 100px;
        width: 100px;
        filter: blur(3px);
        border-radius: 50%;
        border-bottom: 3px solid #d1d1d1;
        border-right: 2px solid #b1b1b1;
        background-color: #eaeaea;
        animation: vanish 0.25s linear 2s forwards;

        @media (max-width: $xs-max-width) {
            height: 50px;
            width: 50px;
            filter: blur(2px);
        }
    }
}