@import '../common/styles/colors.scss';

#styles-overload .product-selector {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &>* {
        margin-top: 15px;
        color: $color-secondary !important;
    }

    p {
        margin: 0;
        text-align: center;
        line-height: 18px;
    }

    img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .p-buttonset {
        display: flex;
        justify-content: center;

        button,
        button:focus {
            background-color: $color-secondary;
            color: $color-primary-harmony-2;

            -webkit-box-shadow:
                0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 2px 4px -1px rgba(0, 0, 0, 0.2);

            box-shadow:
                0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 2px 4px -1px rgba(0, 0, 0, 0.2);

            &:first-child,
            &:last-child {
                background-color: $color-primary-harmony-1;
                color: $color-secondary;
                padding: 0px;

                .pi {
                    font-size: 28px;
                }
            }

            &:active {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        }
    }

}